

.submenu-open {
  /* max-height: 500px;  
  opacity: 1;  */
}
.sidebar {
  font-size: 14px; /* Smaller text for the entire sidebar */
}

.menuLink {
  font-size: 14px; /* Adjust the font size for the main menu */
}

.submenu {
  font-size: 12px; 
}


.submenuLink {
  font-size: 12px; /* Smaller font size for the submenu links */
}
