@media(max-width:768px){
    .swapicon{
        transform: rotate(90deg);
    
    }
    .search{
        display: none !important;
        background-color: rebeccapurple;
    }
}

/* start searh input */
.icon_search{
    margin: 0 10px;
}

.search-container {
    position: relative;
  }
  /* translate(0.45455px, 57.7273px) */
.menu{
  transform: translate3d(0.6364px, 56px, 0px) !important;
}
.search_item {
    position: absolute;
    top: 70px; 
    left: 0;
    right: 0;
    z-index: 1000;

  }

.datepicker{
  border: none !important;
  width: 100% !important;
  /* transform: translate(0.54545px, 57.7273px) !important; */
}
.custom{
  width: 280px !important;
  /* width: 100% !important; */
}
.react_datepicker_wrapper {
  width: 100% !important;
}
/* end search input */


/* start seaach item */
@media (max-width: 500px) {
    .searchItemContainer {
      max-height: 30vh;
      overflow-y: auto; 
    }
    .searchItemList {
        flex-direction: column; 
      }
  }
.searchItemContainer{

}
/* end seaach item */